html {
    font-size: 15px;
}

body {
    background-color: white;
    color: black;
}

a:hover,
a:active {
    color: red;
}

table,
tr,
th,
td,
caption {
    border: 2px solid black;
    font-family: "Courier New", Courier, monospace;
    border-collapse: collapse;
    padding: 0.2rem;
}